@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@00&display=swap');

*{

    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}
.carousel_caption{
    /* background-color:rgba(0, 0, 0, 0.521); */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: -15%;
    margin-bottom: -1.5%;
}
.carousel_caption h1{

    font-family: 'EB Garamond', serif;
    /* margin-top: 15%; */
    /* margin-left: -50%; */
    padding-left :3%;
    padding-right :30%;
    padding-top: 15%;
}
.carousel_caption h3{

    font-family: 'EB Garamond', serif;
    /* margin-top: 15%; */
    /* margin-left: -50%; */
    padding-left :3%;
    padding-right :30%;
    padding-top: 15%;
    padding-bottom:0 ;
}
.carousel_caption p{
    
    text-align: justify;
    
}


@media only screen and (min-width:1201px) {

    .carousel_caption{
        background-color:rgba(0, 0, 0, 0.521);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        margin-left: -15%;
        margin-bottom: -1.5%;
    }
    .carousel_caption p{
        width:100%;
        
    }
}

@media only screen and (max-width:1200px) and (min-width:769px) {

    .carousel_caption{
        background-color:rgba(0, 0, 0, 0.521);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        margin-left: -15%;
        margin-bottom: -2%;
    }
    .carousel_caption p{
        width:100%;
        
    }
}
@media only screen and (max-width:768px) and (min-width:481px) {

    .carousel_caption{
        background-color:rgba(0, 0, 0, 0.521);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        margin-left: -15%;
        margin-bottom: -2.8%;
    }
    .carousel_caption p{
        width:100%;
        
    }
}

@media only screen and (max-width:480px) and (min-width:0px) {

    .carousel_caption{
        background-color:rgba(0, 0, 0, 0.521);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        margin-left: -15%;
        margin-bottom: -4.2%;
    }
    .carousel_caption p{
        width:100%;
        
    }
}

