/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.CompanyName{

    font-family: 'Cinzel', serif;
    font-size: 2em;
    color:rgb(105, 5, 5) !important;

}

.CompanyName span{

    font-family: 'Cookie', cursive;
}
.Navigation_options{
    color:black !important;
    padding-bottom: 20px;
    padding-top: 10px;
    /* width: 90px; */
    
    
}
.Navigation_options:hover{
    border-bottom: 3px solid rgb(6, 3, 56);
    padding-bottom: 17px;
    padding-top: 10px;
    
    
}

#sign_in_button{
    color:white !important;
    /* background-color:rgb(21, 196, 187); */
    background-image: linear-gradient(to right, rgb(10, 2, 58) , rgb(7, 77, 99));
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border:0px !important;
    margin-top: -5px ;
    
}
#sign_in_button:hover{
    
    background-image: linear-gradient(to right, rgb(7, 77, 99), rgb(10, 2, 58));
    
}
